@page
@model HorseService.Areas.Admin.Pages.OffDay.DetailsModel
@{
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Details"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">


                        <div style="padding-top:20px;padding-left:20px;padding-right:20px">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["Information"] </h4>
                                    <hr />
                                    <div class="customer_info_container d-flex justify-content-between">
                                        <div> @sharedResource["Employee"] </div>
                                        <div> @Model.offDays.Employee.FullName </div>
                                    </div>

                                    <div class="customer_info_container d-flex justify-content-between" id="BreakTypesLookup">
                                        <div>@sharedResource["Break Type"]  </div>
                                        <div> @Model.offDays.BreakTypes.Title  </div>
                                    </div>
                                    @{
                                        if (Model.offDays.breaktypesId == 1)
                                        {
                                            <div class="customer_info_container d-flex justify-content-between" style="display:block" id="FromID">
                                                <div>@sharedResource["From"]  </div>
                                                <div> @Model.offDays.From </div>
                                            </div>
                                            <div class="customer_info_container d-flex justify-content-between" style="display:block" id="ToID">
                                                <div>@sharedResource["To"]  </div>
                                                <div> @Model.offDays.To. </div>
                                            </div>
                                            <div style="display:none" id="OnID">
                                                <div id="OnID">@sharedResource["OnDay"]  </div>
                                                <div id="OnID"> @Model.offDays.Onday </div>
                                            </div>
                                        }
                                      else  if (Model.offDays.breaktypesId == 3)
                                        {
                                            <div class="customer_info_container d-flex justify-content-between"  style="display:block" id="FromID">
                                                <div>@sharedResource["From"]  </div>
                                                <div> @Model.offDays.From </div>
                                            </div>
                                            <div class="customer_info_container d-flex justify-content-between"  style="display:block" id="ToID">
                                                <div>@sharedResource["To"]  </div>
                                                <div> @Model.offDays.To. </div>
                                            </div>
                                            <div style="display:none" id="OnID">
                                                <div >@sharedResource["OnDay"]  </div>
                                                <div> @Model.offDays.Onday </div>
                                            </div>
                                        }
                                        else if (Model.offDays.breaktypesId == 2)
                                        {
                                            <div style="display:none" id="FromID">
                                                <div>@sharedResource["From"]  </div>
                                                <div> @Model.offDays.From </div>
                                            </div>
                                            <div  style="display:none" id="ToID">
                                                <div>@sharedResource["To"]  </div>
                                                <div> @Model.offDays.To. </div>
                                            </div>
                                            <div class="customer_info_container d-flex justify-content-between"  style="display:block" id="OnID">
                                                <div>@sharedResource["OnDay"]  </div>
                                                <div> @Model.offDays.Onday </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


