@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using HorseService.Data
@using Microsoft.AspNetCore.Localization;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> sharedResource

@{
    ViewData["Title"] = "Midan";
    Layout = "";
}
<!DOCTYPE html>
<html id="masterPageId" dir="ltr" class="skrollr skrollr-desktop">
<partial name="_Link" />

<body id="masterbodyid" class="stretched has-plugin-easing has-plugin-bootstrap has-plugin-lightbox has-plugin-toggles has-plugin-counter has-plugin-progress has-plugin-flexslider has-plugin-carousel has-plugin-form landing-enquiry-ready has-plugin-ajaxform has-plugin-parallax device-md">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
    ============================================= -->
        <partial name="_Header" />

        <!-- Slider
    ============================================= -->
        <section id="slider" class="slider-element dark min-vh-100 include-header" style="background-image: url(&quot;demos/landing/images/hero/1.svg&quot;);">
            <div id="home" class="slider-inner flex-column">

                <div class="vertical-middle">
                    <div class="container">
                        <div class="row align-items-lg-center g-0">

                            <div class="col-lg-6 col-md-6">
                                <h2 class="display-3 fw-bold text-white">@sharedResource["Midan"]</h2>
                                <div id="Download">
                                    <a href="#" class="btn mt-2 text-dark bg-white rounded-3 px-4 py-3 nott ls0 shadow-sm"><i class="icon-apple1 me-2"></i>@sharedResource["Get it on the App Store"]</a>
                                    <a href="#" class="ms-0 ms-lg-2 mt-2 btn text-dark bg-white rounded-3 px-4 py-3 nott ls0 shadow-sm"><i class="icon-google-play me-2"></i>@sharedResource["Get it on Play Store"]</a>
                                </div>
                                <p class="text-white-50 text-uppercase mt-2 ls1 fw-medium"><small>@sharedResource["Sign up"] &amp; @sharedResource["Get 30 Days Free trail"]</small></p>
                            </div>

                            <div class="col-lg-1 d-md-none d-lg-block"></div>

                            <div class="col-lg-5 col-md-6 align-self-lg-end">
                                <div class="slide-imgs">
                                    <img src="demos/landing/images/hero/1-2.png" alt="Image" class="card-img">
                                    <img src="demos/landing/images/hero/1-1.png" alt="Image" class="iphone-img">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section><!-- #slider end -->
        <!-- Content
    ============================================= -->
        <!-- Footer
    ============================================= -->
        <partial name="_Footer" />
    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up" style="display: none;"></div>

    <!-- JavaScripts
    ============================================= -->
  

</body>
</html>
